#board
{
	-fx-padding: 25;
}

#topPane
{
	-fx-padding: 0 0 25 0;
	
	-fx-alignment: center;
}

#title
{
	-fx-font-size: 32;
	
	-fx-min-height: 50;
	-fx-max-height: 50;
	
	-fx-min-width: 200;
	-fx-max-width: Infinity;
	
	-fx-alignment: center;
	-fx-text-alignment: center;
}

#mainPane
{
	-fx-border-width: 2;
	-fx-border-color: #D8D8D8;
	-fx-border-radius: 8;
	
	-fx-background-color: #F2F2F2;
	-fx-background-radius: 8;
	
	-fx-padding: 30 60 30 60;
	-fx-spacing: 50;
	
	-fx-alignment: center;
}

#bottomPane
{
	-fx-padding: 25 80 0 80;
	-fx-spacing: 90;
	
	-fx-alignment: center;
}

.functionButton
{
	-fx-font-size: 14;
	
	-fx-min-height: 40;
	-fx-max-height: 40;
	
	-fx-min-width: 100;
	-fx-max-width: Infinity;
	
	-fx-focus-traversable: false;
}