.root
{
	-fx-font: 12 "system";
}

.button, .toggle-button
{
	-fx-border-width: 1;
	-fx-border-color: #CDCDCD;
	-fx-border-radius: 4;
	
	-fx-background-color: #E6E6E6;
	-fx-background-radius: 4;
	
	-fx-focus-traversable: false;
}

.button:hover, .toggle-button:hover
{
	-fx-border-color: #D7D7D7;
	
	-fx-background-color: #EBEBEB;
}

.button:armed, .toggle-button:armed, .toggle-button:selected
{
	-fx-border-color: #C9C9C9;
	
	-fx-background-color: #E1E1E1;
}

.context-menu
{
	-fx-border-width: 1;
	-fx-border-color: #D8D8D8;
	-fx-border-radius: 6;
	
	-fx-background-color: #F5F5F5;
	-fx-background-radius: 6;
	
	-fx-min-width: 150;
	-fx-max-width: 150;
	
	-fx-padding: 10;
}

.menu-item
{
	-fx-font-size: 14;
	
	-fx-min-height: 25;
	-fx-max-height: 25;
	
	-fx-padding: 8;
}

.menu-item .label
{
	-fx-text-fill: #717171;
}

.menu-item:focused
{
	-fx-background-color: #E9E9E9;
	-fx-background-radius: 5;
}

.menu-item:focused .label
{
	-fx-text-fill: #424242;
}