.root
{
	-fx-font-size: 16;
	-fx-font-family: "system";
	
	-fx-padding: 25;
}

#titlePane
{
	-fx-padding: 0 25 25 25;
	
	-fx-alignment: center;
}

#title
{
	-fx-font-size: 32;
	
	-fx-alignment: center;
	-fx-text-alignment: center;
}

#mainPane
{
	-fx-border-width: 2;
	-fx-border-color: #D8D8D8;
	-fx-border-radius: 8;
	
	-fx-background-color: #F2F2F2;
	-fx-background-radius: 8;
	
	-fx-padding: 30 60 30 60;
	-fx-spacing: 50;
	
	-fx-alignment: center;
}

.task_list
{
	-fx-border-width: 1;
	-fx-border-color: #D8D8D8;
	-fx-border-radius: 10;
	
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 10;
	
	-fx-padding: 25;
	-fx-spacing: 20;
	
	-fx-alignment: top-center;
}

.list_title
{
	-fx-font-size: 20;
	
	-fx-alignment: center;
	-fx-text-alignment: center;
}

.list
{
	-fx-padding: 5;
	-fx-spacing: 15;
	
	-fx-alignment: top-center;
}

.task
{
	-fx-background-color: #367CB3;
	-fx-background-radius: 6;
	
	-fx-min-height: 45;
	-fx-max-height: 45;
	
	-fx-min-width: 100;
	-fx-max-width: Infinity;
}

.task:hover
{
	-fx-background-color: derive(#367CB3, 20%);
}

Separator .line
{
	-fx-border-width: 2;
	-fx-border-style: solid;
}

ScrollPane > .viewport
{
	-fx-background-color: transparent;
}

ScrollPane
{
	-fx-background-color: transparent;
	
	-fx-fit-to-width: true;
	-fx-fit-to-height: false;
	
	-fx-hbar-policy: never;
	-fx-vbar-policy: never;
}

#buttonPane
{
	-fx-padding: 25 80 0 80;
	-fx-spacing: 90;
	
	-fx-alignment: center;
}

.taskButton
{
	-fx-font-size: 14;
	
	-fx-min-height: 40;
	-fx-max-height: 40;
	
	-fx-min-width: 100;
	-fx-max-width: Infinity;
	
	-fx-focus-traversable: false;
}

.menu
{
	-fx-border-width: 1;
	-fx-border-color: #D8D8D8;
	-fx-border-radius: 6;
	
	-fx-background-color: #F0EEF5;
	-fx-background-radius: 6;
	
	-fx-min-width: 150;
	-fx-max-width: 150;
	
	-fx-padding: 10;
}

.menuItem
{
	-fx-font-size: 16;
	
	-fx-min-height: 25;
	-fx-max-height: 25;
	
	-fx-padding: 8;
}

.menuItem .label
{
	-fx-text-fill: #89909C;
}

.menuItem:focused
{
	-fx-background-color: #E4E3EF;
	-fx-background-radius: 5;
}

.menuItem:focused .label
{
	-fx-text-fill: #424652;
}