#task
{
	-fx-font-size: 14;
	
	-fx-background-radius: 6;
	-fx-background-color: #FEBF91; /* #89BAFF #81DDB6 #FEBF91 #BCB1F4 #EE9ECF #F8DC7E */
	
	-fx-min-height: 45;
	-fx-max-height: 45;
	
	-fx-min-width: 100;
	-fx-max-width: Infinity;
	
	-fx-alignment: center;
	-fx-text-alignment: center;
}

#task:hover
{
	-fx-background-color: derive(#FEBF91, 20%);
}