#task
{
	-fx-font-size: 14;
	
	-fx-background-radius: 6;
	
	-fx-min-height: 45;
	-fx-max-height: 45;
	
	-fx-min-width: 100;
	-fx-max-width: Infinity;
	
	-fx-alignment: center;
	-fx-text-alignment: center;
}